body {
    display: flex;
    flex-wrap: wrap;
}

h4 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.block {
    margin: 10px;
    padding: 5px;
    width: 300px;
    /* background-color: white; */
    border: solid 1px black;
}

.block-nith {
    background-color: dimgray;
}